.boxes{
    height: 200px;
	width: 200px;
    padding: 10px;
    border: black 5px solid;
    background-color: green;
    transition: height 2;
}

.box-container {
	display: flex;
	flex-direction: column;
}

.boxes:hover{
    height: 300px;
}