.boxes{
    height: 200px;
    width: 200px;
    padding: 10px;
    border: black 5px solid;
    background-color: green;
}

.box1{
    box-sizing: border-box;
}

.box2{
    box-sizing: content-box;
}